<form method="post" action="/predict" class="has-background-white p-2">
  <div class="mb-4">
    <label for="departure" class="label label-default">Departure</label>
    <input
      class="input input-lg form-control"
      id="departure"
      name="departure"
      type="date"
    />
  </div>
  <div class="mb-4">
    <label for="arrival" class="label">Arrival</label>
    <input
      class="input input-lg form-control"
      id="arrival"
      name="arrival"
      type="date"
    />
  </div>
  <div class="mb-4">
    <label for="adults" class="label">Num Adults</label>

    <input
      type="number"
      class="form-control"
      name="adults"
      min="0"
      max="10"
      id="adults"
      value="0"
    />
  </div>
  <div class="mb-4">
    <label for="children" class="label">Num Children</label>

    <input
      type="number"
      class="input input-lg form-control"
      name="children"
      min="0"
      max="10"
      id="children"
      value="0"
    />
  </div>
  <div class="mb-4">
    <label for="infants" class="label">Num Infants</label>

    <input
      type="number"
      class="input input-lg form-control"
      name="infants"
      min="0"
      max="10"
      id="infants"
      value="0"
    />
  </div>
  <div class="mb-4">
    <label for="distance" class="label">Distance (Km)</label>

    <input
      size="10"
      id="distance"
      name="distance"
      class="input input-lg form-control"
      placeholder="345.78"
      pattern="(^\d+$)|(\d+\.\d+)"
      type="text"
      required
    />
  </div>
  <div class="mb-4">
    <label for="haul_type" class="label">Haul type</label>

    <select name="haul_type" class="form-control input-lg" id="haul_type">
      {% for i in ['CONTINENTAL', 'DOMESTIC', 'INTERCONTINENTAL']%}

      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <label for="trip_type" class="label">Trip type</label>

    <select name="trip_type" class="form-control input-lg" id="trip_type">
      {% for i in ['MULTI DESTINATION', 'ONE WAY', 'ROUND TRIP']%}

      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-4">
    <label for="" class="label">Website</label>

    <select name="website" class="form-control input-lg">
      {% for i in ['EDAE', 'EDAR', 'EDAU', 'EDBR', 'EDCA', 'EDCH', 'EDCL',
      'EDCN', 'EDCO', 'EDDE', 'EDEG', 'EDES', 'EDFR', 'EDGB', 'EDGR', 'EDHK',
      'EDID', 'EDIN', 'EDIT', 'EDJP', 'EDMA', 'EDMX', 'EDNL', 'EDNZ', 'EDPE',
      'EDPH', 'EDPT', 'EDRU', 'EDSG', 'EDTH', 'EDTR', 'EDUK', 'EDUS', 'EDVE',
      'EDZA', 'GODE', 'GOES', 'GOFR', 'GOGB', 'GOIT', 'GONL', 'GOPT', 'OPAT',
      'OPAU', 'OPCH', 'OPDE', 'OPDEC', 'OPFR', 'OPFRC', 'OPGB', 'OPIT', 'OPNL',
      'OPPL', 'OPPLC', 'OPUK', 'TLDK', 'TLDKC', 'TLFI', 'TLNO', 'TLSE']%}
      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <label for="" class="label">Product</label>
    <select name="product" class="form-control input-lg">
      {% for i in ['TRIP', 'DYNPACK'] %}
      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <label for="" class="label">GDS</label>

    <select name="gds" class="form-control input-lg">
      {% for i in [0, 1,2,3,4] %}
      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <label for="" class="label">No GDS</label>
    <select name="no_gds" class="form-control input-lg">
      {% for i in [0, 1,2,3,4] %}
      <option>{{i}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="train" />
      <label class="form-check-label" for="train"> Train </label>
    </div>
  </div>

  <div class="mb-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="sms" />
      <label class="form-check-label" for="sms"> SMS </label>
    </div>
  </div>

  <div class="d-grid mb-4">
    <button
      type="submit"
      style="background-color: darkgreen; color: white"
      class="btn btn-success input-block-level btn-lg"
    >
      Submit
    </button>
  </div>
</form>
