<form method="post" action="/predict" class="control has-background-white p-2">
  <div class="field">
    <label class="label is-large is-large">Departure</label>
    <div class="control">
      <input class="input is-large" name="departure" type="date" />
    </div>
  </div>
  <div class="field">
    <label class="label is-large">Arrival</label>
    <div class="control">
      <input class="input is-large" name="arrival" type="date" />
    </div>
  </div>
  <div class="field">
    <label class="label is-large">Num Adults</label>
    <div class="control">
      <input
        type="number"
        class="input is-large"
        name="adults"
        min="0"
        max="10"
        value="0"
      />
    </div>
    <div class="field">
      <label class="label is-large">Num Children</label>
      <div class="control">
        <input
          type="number"
          class="input is-large"
          name="children"
          min="0"
          max="10"
          value="0"
        />
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Num Infants</label>
      <div class="control">
        <input
          type="number"
          class="input is-large"
          name="infants"
          min="0"
          max="10"
          value="0"
        />
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Distance (Km)</label>
      <div class="control">
        <input
          size="10"
          name="distance"
          class="input is-large"
          placeholder="345.78"
          pattern="(^\d+$)|(\d+\.\d+)"
          type="text"
          required
        />
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Haul type</label>
      <div class="control">
        <div class="select is-large is-fullwidth">
          <select name="haul_type">
            {% for i in ['CONTINENTAL', 'DOMESTIC', 'INTERCONTINENTAL']%}

            <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label is-large">Trip type</label>
      <div class="control">
        <div class="select is-large is-fullwidth">
          <select name="trip_type">
            {% for i in ['MULTI DESTINATION', 'ONE WAY', 'ROUND TRIP']%}

            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label is-large">Website</label>
    <div class="control">
      <div class="select is-large is-fullwidth">
        <select name="website">
          {% for i in ['EDAE', 'EDAR', 'EDAU', 'EDBR', 'EDCA', 'EDCH', 'EDCL',
          'EDCN', 'EDCO', 'EDDE', 'EDEG', 'EDES', 'EDFR', 'EDGB', 'EDGR',
          'EDHK', 'EDID', 'EDIN', 'EDIT', 'EDJP', 'EDMA', 'EDMX', 'EDNL',
          'EDNZ', 'EDPE', 'EDPH', 'EDPT', 'EDRU', 'EDSG', 'EDTH', 'EDTR',
          'EDUK', 'EDUS', 'EDVE', 'EDZA', 'GODE', 'GOES', 'GOFR', 'GOGB',
          'GOIT', 'GONL', 'GOPT', 'OPAT', 'OPAU', 'OPCH', 'OPDE', 'OPDEC',
          'OPFR', 'OPFRC', 'OPGB', 'OPIT', 'OPNL', 'OPPL', 'OPPLC', 'OPUK',
          'TLDK', 'TLDKC', 'TLFI', 'TLNO', 'TLSE']%}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label is-large">Product</label>
    <div class="control">
      <div class="select is-large is-fullwidth">
        <select name="product">
          {% for i in ['TRIP', 'DYNPACK'] %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label is-large">GDS</label>
    <div class="control">
      <div class="select is-large is-fullwidth">
        <select name="gds">
          {% for i in [0, 1,2,3,4] %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label is-large">No GDS</label>
    <div class="control">
      <div class="select is-large is-fullwidth">
        <select name="no_gds">
          {% for i in [0, 1,2,3,4] %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">    
    <label class="label is-large">   
      <input type="checkbox" id="train" name="train" />
    Train</label>
  </div>
  <div class="field">
    
      <label class="checkbox label is-large">
      <input type="checkbox" id="sms" name="sms" />
    
    SMS</label>
  </div>
  <div class="field">
    <div class="control">
      <button
        style="background-color: darkgreen; color: white"
        class="button is-link is-fullwidth"
      >
        Submit
      </button>
    </div>
  </div>
</form>
