<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta
      content="maximum-scale=1.0, initial-scale=1.0, width=device-width"
      name="viewport"
    />

    <title>{{title}}</title>
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %} {% endblock %}
  </head>
  <body>
    
    {% block content %}
    <div class="container p-0">
      <h2
        style="background-color: darkgreen"
        class="text-center mb-0 pt-4 pb-4 text-white"
      >
        Extra Baggage Predictor
      </h2>
      <div class="container pt-4 shadow-lg rounded mt-0">
        {% if (pred is number) or (pred is string) %}
        <div class="alert alert-success fs-2">
          Expected probability extra bags will be added: {{pred}}
        </div>
        {% endif %} 
        
        <div class="bg-white">
          {% include "form.html" %}
        </div>
      </div>
    </div>
    {% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
