<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>

    <style>
      input[type="number"] {
        width: 100px;
      }
      body {
        background-image: linear-gradient(to bottom right, #005dad, #1c1e45);
      }
    </style>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">      
          <div class="column has-background-white p-6">
            <div
              style="background-color: gold"
              class="has-text-black-bis mb-4 title p-4"
            >
              Extra Baggage Predictor
            </div>
            {% if (pred is number) or (pred is string) %}
            <div class="notification is-primary">
              Expected probability extra bags will be added: {{pred}}
            </div>
            {% endif %}
            {% include "form.html" %}
            
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
